
<div class="profil-container">
  <div>
    <h1>Profil</h1>
    <img />
  </div>
  <form
    [formGroup]="profilForm"
    class="profil-form"
    (submit)="profileValidation()"
  >
    <!-- <form class="profil-form" (submit)="proflValidation()"> -->
    <ul>
      <li>
        <img [src]="this.imageSrc" alt="image">
      </li>
      <li>
        <!-- <input id="file-input" #Image type="file" (change)="handleFileInput($event)" /> -->
        <app-image-upload (file)="profilePictureFile.set($event)"></app-image-upload>
    </li>
      <li>
        <label for="name">profilePicture</label>
        <input name="name" formControlName="profilePicture" type="profilePicture" />
      </li>
      <li>
        <!-- <app-dialoggeneric></app-dialoggeneric> -->
        <label for="name">FirstName</label>
        <input name="name" formControlName="firstName" type="firstName" />
      </li>
      <li>
        <label for="name">Lastname</label>
        <input formControlName="lastName" type="lastName" />
      </li>
      <li>
        <label for="Email">Email</label>
        <input formControlName="email" type="email" />
      </li>
      <button type="submit" >{{textContentButton}}</button>
    </ul>
  </form>
</div>
