<div class="example">
    <div class="file-select">
      <label for="avatar">Choose a profile picture:</label>
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/png, image/jpeg"
        (change)="handleSelected($event)" />
    </div>
  
    <img [src]="imagePreview" class="preview" height="200" alt="Image preview" />
  
    <div class="event-log">
      <label for="eventLog">Event log:</label>
      <textarea readonly class="event-log-contents" id="eventLog" [value]="eventLog"></textarea>
    </div>
  </div>
  