// SCSS Version

$main-margin: 20px;
$image-height: 200px;

.example {
  width: 300px;
  margin: $main-margin auto;
  text-align: center;

  .preview {
    margin-top: $main-margin;
    max-width: 100%;
    height: $image-height; // Added image height for clarity
  }

  .file-select {
    margin-bottom: $main-margin;
  }

  .event-log-contents {
    width: 100%;
    height: 100px;
    margin-top: $main-margin;
    font-family: monospace;
  }

  textarea {
    resize: none;
  }
}
