@font-face {
  font-family: 'HomenajeRegular';
  font-style: normal;
  font-weight: normal;
  src: url('homenaje-regular.otf') format('opentype'),
       url('homenaje-regular.ttf') format('truetype'),
       url('Homenaje-Regular.woff') format('woff');
  /*
  url(path/to/font.woff) format("woff"),
     url(path/to/font.otf) format("opentype");

          
  */
  font-display: auto;
}
@font-face {
  font-family: 'HomenajeRegular';

  src: local('Homenaje Regular'), 
  }

/*Exemple
@font-face {
  font-family: 'CaviarDreams';
    src: url('fonts/CaviarDreams-BoldItalic.eot'); /* IE9 Compat Modes
    src: url('fonts/CaviarDreams-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8
        url('fonts/CaviarDreams-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers
        url('fonts/CaviarDreams-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers
        url('fonts/CaviarDreams-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS
        url('fonts/CaviarDreams-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS
    font-weight: 700;
    font-style: italic;
}*/
